html, body {
   margin: 0;
   padding: 0;
   background-color: #f0f6f7;
 }
 canvas {
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 
 slider {
   position: absolute;
 }